<div class="container krend-page">
	<div class="krend row">
		<div class="col-md-9 col-xs-11">
		<form class="navbar-form navbar-left" role="search" ng-submit="submitRace()" ng-show="signedIn()">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name" ng-model="race.name">
			</div>
		    <div class="form-group">
      			<input size="10" class="form-control" ng-model="race.date" data-autoclose="1" placeholder="Date" bs-datepicker type="text">
		    </div>
		    <div class="form-group">
      			<input size="5" data-time-format="HH:mm" data-time-type="number" class="form-control" ng-model="race.time" data-autoclose="1" placeholder="Time" bs-timepicker type="text">
		    </div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Interval" ng-model="race.interval">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Location" ng-model="race.location">
			</div>
			<button type="submit" class="btn btn-default">Add Race</button>
		</form>
		</div>
	</div>
	<div class="krend row" ng-repeat="(raceId, race) in races">
		<div class="col-xs-1">
		</div>
		<div class="col-md-9 col-xs-11">
			<div class="info" ng-show="signedIn()">
				<a href="#" editable-text="race.name" onaftersave="updateRace(raceId, race)">{{ race.name }}</a>
				<a href="#" editable-bsdate="race.date" e-datepicker-popup="dd-MM-yyyy" onaftersave="updateRace(raceId, race)">{{ race.date | date: "dd-MM-yyyy" }}</a>
				<a href="#" editable-text="race.time" onaftersave="updateRace(raceId, race)">{{ race.time | date: "hh:mm" }}</a>
				<a href="#" editable-text="race.interval" onaftersave="updateRace(raceId, race)">{{ race.interval }}</a>
				<a href="#" editable-text="race.location" onaftersave="updateRace(raceId, race)">{{ race.location }}</a>
				<a ng-click="deleteRace(raceId)" ng-show="signedIn() && race.owner === currentUser.username">(delete)</a>
			</div>
			<div class="info" ng-hide="signedIn()">
				<a href="#/login">{{ race.name }} {{ race.date | date: "dd-MM-yyyy" }} {{ race.location }}</a>
			</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
